[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "occupancy"]
	path = occupancy
	url = https://github.com/ben-oneill/occupancy
[submodule "utilities"]
	path = utilities
	url = https://github.com/ben-oneill/utilities
